<span>Purchase Overview</span>
<br>
<div >
    <div >
        
        <div style="display: inline;width: 200px;">
            
            <img src="./../../assets/percentagw.jpeg" width="30px" height="30px" style="display: inline;"/>
        &nbsp;
        <span style="color: lightgray;">No of Purchases</span>
        <br>
        <span style="color: black;font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;85</span>
       
     
            
    </div>
    
        
       
     </div>
    <hr>
    <div>
         
        <div style="display: inline; width: 50px;">
            <img src="./../../assets/cost.png" width="30px" height="30px"/>
        &nbsp;<span style="color: lightgray;">Cost</span>
        &nbsp; <span style="color: black;font-size: large; display: block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;695</span>
       
    </div>
    
        
    </div>

</div>
