<app-nav id="navigation"></app-nav>
<app-searchbar id="searchbar"></app-searchbar>
<div id="main">
    <div style="background-color: cadetblue;height: 50px;">
  &nbsp; <img src="./../assets/dash.png" style="border-radius: 50%; width: 40px;height: 40px;float: left;" >
   &nbsp;<span style="color: black;">DASHBOARD </span>
   <div style="float: right;">
    <br>
    <button style="background-color: dimgrey; border-radius: 20px;">MONTH TO DATE</button>&nbsp;
    <button style="background-color: dimgrey; border-radius: 20px;">YEAR TO DATE</button>&nbsp;
    <select style="background-color: aqua;color: cadetblue;">
        <option>EXPORT</option>
        <option>IMPORT</option>
    </select>
</div>
</div>
<div id="submain" style="background-color: lightgrey; padding: 20px;height:600px ;">
    <div style="display: inline;">
    <div  class="comp" style="width: 500px;">
         <app-sales></app-sales>
    </div>
    <div  class="comp" style="width: 500px;">
        <app-purchase></app-purchase>
   </div>
</div>
<div  style="display: inline;">
<div class="comp" style="width: 305px; height: 100px;">
    
    
</div>
<div class="comp" style="width: 305px;height: 100px;">
    
</div>
<div class="comp" style="width: 320px;height: 100px;">
    
</div>
</div>
<div class="comp" style="width: 1070px;height: 180px;">
    <img src="./../assets/sales.png" width="900px" height="170px" style="border: solid 2px black; margin: 10px 20px 10px 20px;"/>


</div>

</div>

   
</div>